.container
  %h1= t Category.model_name.human
  %table.table.table-striped
    %tbody
      - @category.attributes.each do |key, value|
        - if show_attribute? key
          %tr
            - if key == 'status'
              %td= t 'status.status'
              %td= status_mark @category.status
            - elsif key == 'ancestry'
              - if @category.has_parent?
                %td= t 'tree.parent'
                %td.value
                  - if Category.column_names.include? 'title'
                    = "#{@category.parent.title} (id: #{@category.parent.id})"
                  - elsif Category.column_names.include? 'name'
                    = "#{@category.parent.name} (id: #{@category.parent.id})"
                  - else
                    = "#{@category.parent.id})"
              - if @category.has_children?
                %tr
                  %td= t 'tree.children'
                  %td.value
                    - @category.children.each do |child|
                      - if Category.column_names.include? 'title'
                        = "#{child.title} (id=#{child.id})"
                      - elsif Category.column_names.include? 'name'
                        = "#{child.name} (id=#{child.id})"
                      - else
                        = "#{child.id}"
                      - unless child == @category.children.last
                        %br
            - else
              %td= t "activerecord.attributes.category.#{key}"
              %td.value= value
      = render 'admin/shared/show_images', object: @category
  = render 'admin/shared/show_rich_text_content', object: @category
  = render 'admin/shared/show_actions', object: @category
