.container
  %h1= t Product.model_name.human
  %table.table.table-striped
    %tbody
      - @product.attributes.each do |key, value|
        - if show_attribute? key
          %tr
            - if key == 'status'
              %td= t 'status.status'
              %td= status_mark @product.status
            - elsif key == 'category_id'
              %td= t "activerecord.models.category.one"
              %td= "#{@product.category.title}"
            - elsif key.include? 'price'
              %td= t "activerecord.attributes.product.#{key}"
              %td= number_to_currency value
            -elsif key == 'hot'
              %td= t "activerecord.attributes.product.#{key}"
              %td= status_mark @product.hot
            - else
              %td= t "activerecord.attributes.product.#{key}"
              %td= value
      = render 'admin/shared/show_images', object: @product
  = render 'admin/shared/show_rich_text_content', object: @product
  = render 'admin/shared/show_actions', object: @product
