.container
  %h1= t Product.model_name.human
  %table.table.table-striped
    %tbody
      - @product.attributes.each do |key, value|
        - unless key == 'id' || key.include?('digest') || key == 'created_at' || key == 'updated_at'
          %tr
            - if key == 'status'
              %td= t 'status.status'
              %td= status_mark @product.status
            - elsif key == 'ancestry'
              - if @product.parent.present?
                %td= t 'tree.parent'
                - if Product.column_names.include? 'title'
                  %td= "#{@product.parent.title} (id: #{@product.ancestry})"
                - elsif Product.column_names.include? 'name'
                  %td= "#{@product.parent.name} (id: #{@product.ancestry})"
                - else
                  %td= "#{@product.ancestry})"
              - if @product.children.present?
                %tr
                  %td= t 'tree.children'
                  %td
                    - @product.children.each do |child|
                      - if Product.column_names.include? 'title'
                        = "#{child.title} (id=#{child.id})"
                      - elsif Product.column_names.include? 'name'
                        = "#{child.name} (id=#{child.id})"
                      - else
                        = "#{child.id}"
                      - unless child == @product.children.last
                        %br
            - else
              %td= t "activerecord.attributes.product.#{key}"
              %td= value
      = render 'admin/shared/show_images', object: @product
  = render 'admin/shared/show_rich_text_content', object: @product
  = render 'admin/shared/show_actions', object: @product
