- entity = object.class.name.constantize
- if entity.column_names.include? 'ancestry'
  - if object.has_parent?
    - if entity.respond_to? :active
      - if entity.column_names.include? 'title'
        = f.input :ancestry, as: :select, collection: entity.active { |e| [e.title, e.id] }, selected: object.parent.id
      - else
        = f.input :ancestry, as: :select, collection: entity.active { |e| [e.name, e.id] }
    - else
      = f.input :ancestry, as: :select, collection: entity.all { |e| [e.title, e.id] }
  - else
    - if entity.respond_to? :active
      - if entity.column_names.include? 'title'
        = f.input :ancestry, as: :select, collection: entity.active { |e| [e.title, e.id] }
      - else
        = f.input :ancestry, as: :select, collection: entity.all { |e| [e.name, e.id] }
    - else
      = f.input :ancestry, as: :select, collection: entity.all { |e| [e.title, e.id] }
